@charset "UTF-8";
/* 판매자 회원조회 */

div#admin-member-container{
	width: 1000px;
	height: 200px;
	border: 3px solid #116530;
	border-radius: 25px;
}
div#admin-member-container.row{
	align-items: center;
}
div#admin-member-container a{
	font-size: 2rem;
}

 div#admin-sellerList-wait-container a{
 	color: 116530;
 }
 div#admin-sellerList-wait-container a:hover{
 	color: EA5C2B;
 }
 
form[name="adminSellerUpdateFrm"]{
	margin-block-end: 0em;
}
/* #admin-mypage-container의 a태그 공통 */
#admin-mypage-container a {
	text-decoration: none;
}
#admin-mypage-container a:hover {
	color: #EA5C2B;
}


/*주간 채소 공지 관련*/
div#admin-notice-week-vegs-info-container img{
	width:200px;
	display: inline;
}