@charset "UTF-8";

/* 회원 가입 */
/* 
div#enroll-container { width:500px; }
div#enroll-container input, div#enroll-container select { margin-bottom:10px; }
div#enroll-container table td { text-align:left; }
 */
div#enroll-container table th { width: 50px; }
 
/* 중복아이디체크관련 */
/*
div#memberId-container { position:relative; padding:0px; }
*/
div#memberId-container span.guide { display:none; font-size:12px;}
div#memberId-container span.ok { color:green; }
div#memberId-container span.error { color:red; }


/*로그인 관련*/

div#login-container,div#login-searchform-container,div#member-update-container,div#login-searchPw-container{
	width: 500px;
}
form[name="memberLoginFrm"] input:not(.form-check-input){
	 width: 100%;
	 height: 54px;
}
form[name="memberLoginFrm"] button{
	width: 180px;
	height: 54px;
}
div#login-search-container{
	position: relative;
	top: -143px;
    left: 106px;
}
div#login-search-container a{
	text-decoration: none;
	color: #808080;
}
div#login-search-container a:hover{
	color: EA5C2B;
}

/* 아이디 비밀번호 찾기 */
form[name="findIdFrm"] input,form[name="findPwFrm"] input{
	width:100%;
	height: 54px;
}

#findId-btn{
	width: 30%;
	border-radius: 35px;
}
/*회원정보 수정*/

div#member-update-container h1{
	color: EA5C2B;
}
form[name="memberUpdateFrm"]{

	border: 3px solid #116530;
	border-radius: 25px;
	padding: 40px 50px;
}
form[name="memberUpdateFrm"] input:not(.btn){
	border: 2px solid #116530;  
	border-radius: 7px;
	height:43px;
	padding: 3px;
}

form[name="memberUpdateFrm"] input:focus{
	background-color : #116530; 
	color: #fff;
}

















