@charset "UTF-8";

/* 회원 가입 */
/* 
div#enroll-container { width:500px; }
div#enroll-container input, div#enroll-container select { margin-bottom:10px; }
div#enroll-container table td { text-align:left; }
 */
 div#enroll-container{
    margin: 50px auto;
    width: fit-content;
 }

 #enroll-container .enroll-info-btn{
    margin-left: 15px;
 } 
 .enroll-info-container{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
 }
 
 .enroll-info-container textarea{
 	width: 500px;
 	margin-top: 30px;
 }
 
 .enroll-info-label{
    display: inline-block;
    text-align: left;
    width: 150px;
    font-weight: bold;
 }

 .enroll-info{
    display: flex;
    align-items: center;
    width: 300px;
 }

 .enroll-info input{
    width: 300px;
 }
.enroll-eamilKey-container{
    margin-left: 150px;/*.enroll-info-label width만큼*/
}
#btn-email-enterKey{
    width: 60px;
}

.enroll-form-required{
	color: red;
}
/* 중복아이디체크관련 */
/*
div#memberId-container { position:relative; padding:0px; }
*/
div#memberId-container span.guide { display:none; font-size:12px;}
div#memberId-container span.ok { color:green; }
div#memberId-container span.error { color:red; }


/*로그인 관련*/

div#login-container,div#login-searchform-container,div#member-update-container,div#login-searchPw-container{
	width: 500px;
}
form[name="memberLoginFrm"] input:not(.form-check-input){
	 width: 100%;
	 height: 54px;
}
form[name="memberLoginFrm"] button{
	width: 180px;
	height: 54px;
}
div#login-search-container{
	position: relative;
	top: -143px;
    left: 106px;
}
div#login-search-container a{
	text-decoration: none;
	color: #808080;
}
div#login-search-container a:hover{
	color: EA5C2B;
}

/* 아이디 비밀번호 찾기 */
form[name="findIdFrm"] input,form[name="findPwFrm"] input{
	width:100%;
	height: 54px;
}

#findId-btn{
	width: 30%;
	border-radius: 35px;
}
/*회원정보 수정*/

div#member-update-container h1{
	color: EA5C2B;
}
form[name="memberUpdateFrm"]{

	border: 3px solid #116530;
	border-radius: 25px;
	padding: 40px 50px;
}
form[name="memberUpdateFrm"] input:not(.btn){
	border: 2px solid #116530;  
	border-radius: 7px;
	height:43px;
	padding: 3px;
}

form[name="memberUpdateFrm"] input:focus{
	background-color : #116530; 
	color: #fff;
}


/*회원 마이페이지*/
div#mypage-subcribe-container{
	padding: 50px 70px;
	border: 3px solid #116530;
	border-radius: 25px;
	margin: 30px 130px;
}
div#mypage-subcribe-container img{
	width: 300px;
	height: 260px;
}
nav#member-mypage-nav h5>a{
	color: EA5C2B;
}
nav#member-mypage-nav h5>a:hover{
	color: 116530;
}
nav#member-mypage-nav h2{
	margin-right: 380px;
}
#mypage-subscribe-btn{
	margin-left: 100px;
}
div#member-orderList-container img{
	width: 100px;
	height: 100px;
	margin: auto;
}
div#member-direct-detail-container img{
	width: 100px;
	height: 100px;
	margin: auto;
}
.member-mypage-active-color{
	color: EA5C2B;
	font-weight: bold;
}

/* -----판매자 마이페이지 관련----- */
/* 판매자 상품목록 */
div#prodList-container{
	max-width: 900px;
	margin: 0 auto;
}

.prod-container{
	display: flex;
	align-items: center;
	border: 1px solid black;
	border-radius: 15px; 
	margin: 20px 0;
	height: 150px;
};
div.prod-container-column{
	display: inline-block;
	width: 150px; 
}

div.prod-col-1{
	margin-left: 30px;
}

div.prod-col-2{
	margin: 0 50px;
	width: 50%;
	padding-left: 30px; 
}	

div.prod-option-container{
	height: 100px;
	overflow-y: auto;
}	
	
/* 판매자 주문내역 */
.prod-order-container{
     border: 1px solid grey;
     margin: 20px 0;
     min-height: 200px;
 };
 
 div.order-container-row.ord-row-1 >*{
     display: inline-block;
 }
 div.order-container-row.ord-row-1{
     background-color: lightgrey;
     display: flex;
     justify-content: space-between;
 }
 div.order-container-row.ord-row-2{
     display: flex;
     align-items: center; 
     justify-content: space-between;
 }
 div.order-container-row.ord-row-2 > *{
     display: inline-block;
     min-width: 100px;
     margin: 10px 15px;
     padding: 0 10px;
 }
 div.order-prodNam{
     display: inline-block;
     width: 150px;
 }
 div.order-options{
     display: inline-block;
 }

 div.order-container-row.ord-row-4 >*{
     display: inline-block;
     min-width: 100px;
     margin: 10px 15px;
 }
 div.order-container-row.ord-row-4{
     display: flex;
     justify-content: space-between;
 }
 div.order-address{
     margin: 10px 15px;
 }

/*회원 구독*/
.mypage-order-addr-info-content input:not(.btn){
	width: 600px;
	border: 2px solid #116530;  
	height:55px;
	padding: 10px;
}
.mypage-order-addr-info-content label{
	font-size: 20px;
    padding-right: 20px;
}
.mypage-s-delay-container{
	padding-top: 50px;
}
.s-delay-check-container{
	padding-top: 20px;	
}
.s-delay-check-container input[type="checkbox"]{
	display: none;
}
.s-delay-check-container input[type="checkbox"]+label{
	width: 150px;
	height: 50px;
	border: 2px solid #116530;
	border-radius: 25px;
	font-size: 20px;
	text-align: center;
	padding-top:10px;
	cursor: pointer
}
.s-delay-check-container input[type="checkbox"]:checked+label{
	background-color: #116530;
	color: #fff;
}







