/*
----------------------팝업 영역 -----------------------
*/
@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
body {
	width: 550px;
	height: 550px;
	font-family: 'GmarketSansMedium', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #333;
}
a {display: block; color: #333; text-decoration: none;}

#popup, #clickPopup {
	width: 95%;
	height: 93%;
	background-image: url("../images/noticeWeekBG.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

.popupWrapper {
	width: 90%;
	height: 100%;
	margin: auto;
	position: relative;
}
.popupWrapper .popup_date,
.popupWrapper img,
.popup_content {
	position: absolute;
}
.popupWrapper .popup_date {
	font-size: 30px;
	font-weight: 700;
	left: 0;
	top: 40px;
	color: #116531;
}
.popupWrapper img {
	left: 0;
	right: 0;
	margin: auto;
	width: 150px;
}
.popup_content {
	width: 450px;
	height: 280px;
	left: 0;
	right: 0;
	margin: auto;
	top: 120px;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	padding: 20px 30px;
}
.popup_content > p:first-of-type {
	font-size: 38px;
}
.popup_content span {
	display: block;
	margin-bottom: 20px;
}
.popup_notice {
	font-size: 16px;
	padding-top: 20px;
}
.popup_btn {
	width: 90%;
	margin: auto;
	display: flex;
}
#chk_today, #chk_sunday {
	padding: 10px;
	text-align: center;
	width: calc((100% - 10px) / 2);
}
#chk_today:hover, #chk_sunday:hover {
	background-color: #116531;
	color: #fff;
}

