<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.monong.subscribe.model.dao.SubscribeDao">
  <!-- 선아코드 시작 -->
  <!-- 선아코드 끝 -->
  
  <!-- 미송코드 시작 -->
  <select id="selectSubscriptionReviewListCollection" resultMap="subscriptionListMap">
	select
	    s.member_id,
	    so.s_times,
	    sr.*,
	    sra.s_attach_no attach_no,
	    sra.s_review_no,
	    sra.s_review_original_filename,
	    sra.s_review_renamed_filename,
	    sra.s_review_created_at attach_created_at
	from
	    subscription_review sr 
	        left join subscription_review_attachment sra
	            on sr.s_review_no = sra.s_review_no
	        join subscription_order so
	            on sr.s_order_no = so.s_order_no
	        join subscription s 
	            on so.s_no = s.s_no
	order by sr.s_review_created_at desc
  </select>
  
  <resultMap type="subscriptionReview" id="subscriptionListMap">
		<id column="s_review_no" property="sReviewNo"/>
		<result column="s_order_no" property="sOrderNo"/>
		<result column="s_review_content" property="sReviewContent"/>
		<result column="s_review_star" property="sReviewStar"/>
		<result column="s_review_recommend_num" property="sReviewRecommendNum"/>
		<result column="s_review_created_at" property="sReviewCreatedAt"/>
		<result column="s_review_updated_at" property="sReviewUpdatedAt"/>
		<association property="memberId" javaType="string">
			<id column="member_id" property="memberId"/>
		</association>
		<association property="sTimes" javaType="_int">
			<result column="s_times" property="sTimes"/>
		</association>
		<collection property="sAttachments" ofType="SubscriptionReviewAttachment">
			<id column="attach_no" property="s_attach_no"/>
			<result column="s_review_no" property="s_review_no"/>
			<result column="s_review_original_filename" property="sReviewOriginalFilename"/>
			<result column="s_review_renamed_filename" property="sReviewRenamedFilename"/>
			<result column="attach_created_at" property="sReviewCreatedAt"/>
		</collection>
	</resultMap>
	
  <!-- 미송코드 끝 -->
</mapper>