<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- 
  	자식태그는 다음 순서로 작성할 것!
  	properties?, settings?, typeAliases?, typeHandlers?, objectFactory?, objectWrapperFactory?, 
 	reflectorFactory?, plugins?, environments?, databaseIdProvider?, mappers?
   -->  
  <settings>
  	<setting name="jdbcTypeForNull" value="NULL"/><!-- null데이터 전달시 그대로 null로 대입 -->
  	<setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  
  <typeAliases>
  	<typeAlias 
  		type="org.springframework.security.core.authority.SimpleGrantedAuthority" 
  		alias="simpleGrantedAuthority"/>
  	<package name="com.kh.monong"/>
  </typeAliases>

  <typeHandlers>
  	<typeHandler handler="com.kh.monong.common.typehandler.StringArrayTypeHandler" />
  	<package name="com.kh.monong.common.typehandler"/>
  </typeHandlers>
</configuration>