/* 선아 시작 */
.subMain-container {
	position: fixed;
	width: 100px;
	text-align: center;
	font-size: 20px;
	right: 20px;
	background-color: #fff;
	border-radius: 10px;
}
.subMain-container .row1{
	margin-bottom: 5px;
}
.subMain-container .col {
	background-color: #f6d8603d;
	border-radius: 10px;
}
.subMain-container .col:hover {
	cursor: pointer;
	background-color: #f6d860;
	border-radius: 10px;
}
.subMain-container .col a {
	display: block;
	text-decoration: none;
	padding: 15px;
}
.subMain-container .col a:hover {
	color: inherit;
}
#content h1 {
	color: #EA5C2B;
	font-weight: 700;
	margin-top: 50px;
}

.s-info-step {
	margin-top: 50px;
}

.s-info-step-title {
	margin-bottom: 40px;
}

.s-info-step-title .badge {
	background-color: #F6D860;
}

.s-info-step-title span {
	font-size: 26px;
	margin-right: 10px;
}

.s-info-step-title p {
	margin-top: 8px;
	font-size: 22px;
}

.s-info-step1 {
	display: grid;
	grid-row-gap: 30px;
	grid-template-columns: 78% 2% 20%;
	grid-template-areas: 'a b c';
}

.s-info-step1-product {
	display: grid;
	grid-template-columns: minmax(200px, auto);
	grid-template-areas: 'a a a' 'b c d';
}

.s-product-name{
    text-align: left;
    width: 90px;
    display: inline-block;
    font-size: 24px;
    padding: 10px 0 0 10px;
}

.s-product-price{
	text-align: right;
    width: 200px;
    display: inline-block;
    font-size: 24px;
    padding-right: 5px;
}

.s-product-info{
    text-align: left;
    font-size: 14px;
    display: block;
    padding: 0 0 7px 12px;
}
.s-info-step1-product>p, .s-info-step1-cycle>p, .s-info-step1-exclude>p
	{
	font-size: 24px;
	font-weight: 700;
}

.s-info-step1-exclude>span {
	font-size: 18px;
}

.s-info-step1-product div:first-of-type {
	grid-area: b;
}

.s-info-step1-product div:nth-of-type(2) {
	grid-area: c;
}

.s-info-step1-product div:nth-of-type(3) {
	grid-area: d;
}

.s-info-step1-img, .s-info-step1-img img {
	width: 280px;
	height: 200px;
	border-radius: 10px;
}

.s-info-step1-img img {
	object-fit: cover;
}

.mean-nothing-div {
	height: 100%;
	border-left: 1px solid #333;
}

.mean-nothing-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: calc(100% - 20px);
	background-color: #F6D860;
	margin-top: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 4px;
}

.mean-nothing-box span:first-child {
	font-size: 20px;
}

.mean-nothing-box span:last-child {
	color: #fff;
}

.s-info-step.step2 {
	margin-top: 100px;
}

.step2-wrapper {
	display: flex;
}

.s-info-step2-box {
	width: 300px;
	height: 300px;
	background-color: #F6D860;;
	padding: 20px 10px 10px 10px;
	border-radius: 10px;
	font-size: 24px;
	text-align: center;
}

.s-info-step2-box p:first-of-type {
	padding-bottom: 10px;
	margin-bottom: 40px;
	border-bottom: 1px solid #333;
}

.s-info-step2-box p:last-of-type {
	margin-top: 40px;
}

.s-info-step2-box i {
	font-size: 70px;
}

.step2-arrow {
	margin: auto;
}

.step2-arrow i {
	font-size: 60px;
}

.s-info-step.step2 {
	margin-bottom: 100px;
}

.step2-footer {
	margin-top: 50px;
	text-align: center;
	font-size: 20px;
}

.step2-footer span:last-of-type {
	font-size: 16px;
}

.step2-footer span {
	display: inline-block;
	margin: 10px;
}

.step2 button {
	width: 200px;
	height: 50px;
	margin-top: 20px;
	font-size: 20px;
}
/* 선아 끝 */