/* 정기구독 css */
/* 정기구독 00페이지 */
/* 미송 시작 */

/* 미송 끝 */

/* 정기구독 결제페이지 */
/* 선아 시작 */
.pay-title {
	padding-bottom: 10px;
	border-bottom: 1px solid #333;
}

.s-product_selected {
	width: 100%;
	padding: 20px 60px 30px 30px;
}

.s-product_selected input:focus-visible {
	outline: none;
}

.s-product_selected h4 {
	color: #EA5C2B;
	font-weight: 700;
}

.grid-container,
.s-product-info {
	display: grid;
	grid-template-columns: 2fr;
	grid-template-areas:
	'a a'
	'b c';
}

.grid-container {
	grid-template-rows: minmax(450px, auto);
	grid-gap: 50px 0;

}

.s-product-info {
	grid-template-rows: minmax(30px, auto);
	grid-area: a;
}

.s-product-info > h4 {
	grid-area: a;
}

.s-product-info img {
	width: 350px;
	height: 350px;
	border-radius: 10px;
	grid-area: b;
}

.s-product-info-content {
	width: 528px;
	border-bottom: 1px solid #333;
	margin: auto 0;
	grid-area: c;
	display: grid;
	grid-template-columns: 150px 350px;
	align-items: center;
	grid-template-areas:
	'a a';
}

.s-product-info-content .bold {
	font-weight: 700;
	grid-area: a;
}

.s-product-info-content p:first-of-type::after {
	content: '';
	display: block;
	width: 528px;
	margin-top: 8px;
	border-bottom: 1px solid #333;
}

.s-product-info-content input {
	text-align: right;
	border: none;
}

.s-product-info-content > div,
.s-product-info-content > div > input,
.s-pay-info-content > div,
.s-product-info-content > div > input {
	text-align: right;
}

.s-order-addr-info {
	grid-area: b;
}
.s-pay-info {
	grid-area: c;
	display: grid;
}

.s-order-addr-info>h4, .s-pay-info > h4 {
	font-weight: 700;
}

.s-order-addr-info-content, .s-pay-info-content {
	margin: 20px 0;
}

.s-order-addr-info-content input[type=text] {
	height: 40px;
	border-style: none;
	border-bottom: 1px solid #333;
	width: 80%;
}

.s-order-addr-info-content label {
	margin-top: 20px;
}

.s-order-addr-info-content .btn-EA5C2B {
	margin-left: 10px;
}

.s-order-addr-info-content .error {
	display: none;
	color: red;
}
.s-pay-info-content {
	display: grid;
	grid-template-columns: 150px 350px;
	align-items: center;
}

.s-pay-info-content p:last-of-type::before {
	content: '';
	display: block;
	width: 528px;
	margin-bottom: 8px;
	border-top: 1px solid #333;
}


.s-pay-info-content input {
	text-align: right;
	border: none;
}

#s-order-card {
	display: flex;
	margin: 20px 0;
	align-items: center;
	justify-content: space-between;
}

#s-order-card>p {
	width: 150px;
}

.s-card {
	display: flex;
	width: calc(100% - 140px);
}

.s-card div {
	position: relative;
	width: calc(100% / 2);
	height: 160px;
	margin-right: 20px;
	border-radius: 10px;
	text-align: center;
	background-color: #f6d8601c;
}

.s-card #s-card-kg,
.s-card #s-card-kakao {
	position: absolute;
	top: 20px;
	right: 140px;
	accent-color: #EA5C2B;
}

.s-card .payCheck {
	border: 1px solid #EA5C2B;
}
.s-card img, .s-card>span {
	display: block;
}

.s-card img {
	width: 120px;
	margin: auto 10px;
}

.s-order-totle-price {
	display: flex;
	padding: 20px 0;
	align-items: center;
}

.s-order-totle-price>span {
	display: block;
	margin-right: 20px;
	font-size: 20px;
	font-weight: 700;
}

.s-order-totle-price .s-cycle {
	padding: 5px;
	background-color: #116530;
	border-radius: 10px;
	color: #fff;
}

.s-order-totle-price .s-price {
	margin: 0 40px 0 0;
	text-align: right;
	list-style: none;
	flex-grow: 1;
	font-size: 28px;
	color: #EA5C2B;
	font-weight: 700;
}

.s-order-totle-price span:last-child {
	font-size: 20px;
	color: #333;
}

.sPaymentDate {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	color: red;
	margin-right: 20px;
}

.sPaymentDate input {
	margin-left: auto;
	border-style: none;
	text-align: right;
	color: red;
}

.privacyAgree {
	margin-top: 60px;
}

.privacyAgree p {
	font-weight: 700;
}

.privacyAgree input {
	accent-color: #EA5C2B;
}

.privacyAgree textarea {
	color: #666;
}

.btn-s-pay {
	display: block;
	width: 220px;
	padding: 15px;
	margin: 20px auto;
}

/* 정기구독 확인페이지 */
.grid-container-s-order {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 50px 0;
	grid-template-areas:
	'a a'
	'b c';
}

.s-orderProduct-info {
	display: grid;
	grid-template-columns: 2fr;
	grid-template-rows: minmax(30px, auto);
	grid-area: a;
	grid-template-areas:
	'a a'
	'b c';
}

.s-orderProduct-info > h4 {
	grid-area: a;
}

.s-orderProduct-info img {
	width: 350px;
	height: 350px;
	border-radius: 10px;
	grid-area: b;
}

.s-orderProduct-info-content {
	width: 528px;
	border-bottom: 1px solid #333;
	margin: auto 0;
	grid-area: c;
	display: grid;
	grid-template-columns: 150px 350px;
	align-items: center;
	grid-template-areas:
	'a a';
}

.s-orderProduct-info-content .bold {
	font-weight: 700;
	grid-area: a;
}

.s-orderProduct-info-content p:first-of-type::after {
	content: '';
	display: block;
	width: 528px;
	margin-top: 8px;
	border-bottom: 1px solid #333;
}

.s-orderProduct-info-content > p:nth-child(2n + 1):not(p:first-of-type) {
	text-align: right;
}

.s-order-addr-info-content p {
	height: 40px;
	width: 80%;
}

.grid-s-order-addr-info-content {
	display: grid;
	grid-template-columns: 150px auto;
}

.s-pay-info > div a {
	text-decoration: none;
	margin-left: 20px;
}

.s-pay-info > div .btn {
	width: 200px;
	height: 50px;
}

.s-pay-info .moveButton {
	margin-top: 60px;
	text-align: right;
}

/* 모달창 */



/* 선아 끝 */