<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.monong.direct.model.dao.DirectDao">
<!-- 재경 시작 -->
<!-- 상품 등록 -->
<insert id = "directProductEnroll">
insert into
	direct_product
values
	('DP' || seq_d_product_no.nextval,
  	#{memberId},
  	#{dProductName},
  	#{dProductContent},
  	default,
  	default,
  	#{dPrice},
  	#{dDeliveryFee})
</insert>
<!-- 재경 끝 -->
<!-- 민지 시작 -->
  <select id="selectOneDirectProductCollection" resultMap="directProductMap">
  	select
	    dp.*,
	    m.member_name,
	    dpo.*,
	    dpa.*,
	    to_number(substr(d_option_no, 3)) no
	from
	    direct_product dp
	    	left join member m
                on dp.member_id = m.member_id
	        left join direct_product_option dpo
	            on dp.d_product_no = dpo.d_product_no
	        left join direct_product_attachment dpa
	            on dp.d_product_no = dpa.d_product_no
	where
	    dp.d_product_no = #{dProductNo}
	order by
		d_option_name, d_price, no
  </select>
  
  <resultMap type="directProduct" id="directProductMap">
  	<id column="d_product_no" property="dProductNo"/>
  	<result column="member_id" property="memberId"/>
  	<result column="d_product_name" property="dProductName"/>
  	<result column="d_product_content" property="dProductContent"/>
  	<result column="d_product_created_at" property="dProductCreatedAt"/>
  	<result column="d_product_updated_at" property="dProductUpdatedAt"/>
  	<result column="d_default_price" property="dDefaultPrice"/>
  	<result column="d_delivery_fee" property="dDeliveryFee"/>
  	<association property="member" javaType="member">
  		<id column="member_id" property="memberId"/>
  		<result column="member_name" property="memberName"/>
  	</association>
  	<collection property="directProductOptions" ofType="DirectProductOption">
  		<id column="d_option_no" property="dOptionNo"/>
  		<result column="d_product_no" property="dProductNo"/>
  		<result column="d_option_name" property="dOptionName"/>
  		<result column="d_sale_status" property="dSaleStatus"/>
  		<result column="d_price" property="dPrice"/>
  		<result column="d_stock" property="dStock"/>
  	</collection>
  	<collection property="directProductAttachments" ofType="DirectProductAttachment">
  		<id column="d_product_attach_no" property="dProductAttachNo"/>
  		<result column="d_product_no" property="dProductNo"/>
  		<result column="d_product_original_filename" property="dProductOriginalFilename"/>
  		<result column="d_product_renamed_filename" property="dProductRenamedFilename"/>
  	</collection>
  </resultMap>
<!-- 민지 끝 -->
</mapper>