<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.monong.direct.model.dao.DirectDao">
<!-- 재경 시작 -->
<!-- 옵션 등록 -->
<update id="mergeOption">
  	merge into direct_product_option
    using dual
    on (d_option_no = #{dOptionNo})
        when matched then
            update set d_sale_status = #{dSaleStatus},
                            d_price = #{dPrice},
                            d_stock = #{dStock}
        when not matched then
            insert (d_option_no, d_product_no, d_option_name, d_sale_status, d_price, d_stock) values ('DO'||seq_d_option_no.nextval, #{dProductNo}, #{dOptionName}, #{dSaleStatus}, #{dPrice}, #{dStock})
  </update>
<!-- 리뷰 조회 -->
	<select id="selectDirectProductReviewList" resultMap="proNoDirectReviewMap">
	select
		dr.*,
	    dra.d_review_renamed_filename,
	    dpo.d_option_name,
	    dp.d_product_name,
	    dp.d_product_no
	from
		direct_review dr
		left join direct_review_attachment dra
		on dr.d_review_no = dra.d_review_no
		left join direct_product_option dpo
		on dr.d_option_no = dpo.d_option_no
		left join direct_product dp
		on dpo.d_product_no = dp.d_product_no
	where
		dpo.d_product_no= #{dProductNo}
	</select>

	<resultMap type="map" id="proNoDirectReviewMap">
 		<id column="d_review_no" property="dReviewNo"/>
 		<result column="d_option_no" property="dOptionNo"/>
 		<result column="d_order_no" property="dOrderNo"/>
 		<result column="d_review_title" property="dReviewTitle"/>
 		<result column="member_id" property="memberId"/>
 		<result column="d_review_content" property="dReviewContent"/>
 		<result column="review_rating" property="reviewRating"/>
 		<result column="d_review_recommend" property="dReviewRecommend"/>
 		<result column="d_review_created_at" property="dReviewCreatedAt"/>
 		<result column="d_review_updated_at" property="dReviewUpdatedAt"/>
 		<association property="reviewAttach" javaType="directReviewAttachment">
 			<id column="d_review_attach_no" property="dReviewAttachNo"/>
 			<result column="d_review_no" property="dReviewNo"/>
 			<result column="d_review_renamed_filename" property="dReviewRenamedFilename"/>
 			<result column="d_review_original_filename" property="dReviewOriginalFilename"/>
 		</association>
 		<association property="reviewOpt" javaType="directProductOption">
 			<id column="d_option_no" property="dOptionNo"/>
 			<result column="d_option_name" property="dOptionName"/>
 			<result column="d_product_no" property="dProductNo"/>
 		</association>
 		<association property="reviewProd" javaType="directProductEntity">
 			<id column="d_product_no" property="dProductNo"/>
 			<result column="d_product_name" property="dProductName"/>
 		</association>
 	</resultMap>
 	<select id="getTotalDirectReviewByDProductNo" resultType="_int">
 	select count(*)
 	from
 	(select distinct d_review_no
 	 from direct_review
 	 		left join
 	 		direct_product using)
 	</select>
<!-- 재경 끝 -->
<!-- 민지 시작 -->
  <select id="selectOneDirectProductCollection" resultMap="directProductMap">
  	select
	    dp.*,
	    m.member_name,
	    dpo.*,
	    dpa.*,
	    to_number(substr(d_option_no, 3)) no
	from
	    direct_product dp
	    	left join member m
                on dp.member_id = m.member_id
	        left join direct_product_option dpo
	            on dp.d_product_no = dpo.d_product_no
	        left join direct_product_attachment dpa
	            on dp.d_product_no = dpa.d_product_no
	where
	    dp.d_product_no = #{dProductNo}
	order by
		d_sale_status desc, d_option_name, d_price, no, d_product_attach_no
  </select>
  
  <resultMap type="directProduct" id="directProductMap">
  	<id column="d_product_no" property="dProductNo"/>
  	<result column="member_id" property="memberId"/>
  	<result column="d_product_name" property="dProductName"/>
  	<result column="d_product_content" property="dProductContent"/>
  	<result column="d_product_created_at" property="dProductCreatedAt"/>
  	<result column="d_product_updated_at" property="dProductUpdatedAt"/>
  	<result column="d_default_price" property="dDefaultPrice"/>
  	<result column="d_delivery_fee" property="dDeliveryFee"/>
  	<association property="member" javaType="member">
  		<id column="member_id" property="memberId"/>
  		<result column="member_name" property="memberName"/>
  	</association>
  	<collection property="directProductOptions" ofType="DirectProductOption">
  		<id column="d_option_no" property="dOptionNo"/>
  		<result column="d_product_no" property="dProductNo"/>
  		<result column="d_option_name" property="dOptionName"/>
  		<result column="d_sale_status" property="dSaleStatus"/>
  		<result column="d_price" property="dPrice"/>
  		<result column="d_stock" property="dStock"/>
  	</collection>
  	<collection property="directProductAttachments" ofType="DirectProductAttachment">
  		<id column="d_product_attach_no" property="dProductAttachNo"/>
  		<result column="d_product_no" property="dProductNo"/>
  		<result column="d_product_original_filename" property="dProductOriginalFilename"/>
  		<result column="d_product_renamed_filename" property="dProductRenamedFilename"/>
  	</collection>
  </resultMap>
  
  <select id="selectOrderListByCartNo" resultMap="orderListMap">
  	select
	    c.*,
	    dpo.*,
	    dpa.*,
	    dp.d_product_no,
	    dp.d_product_name,
	    dp.d_default_price,
	    dp.d_delivery_fee,
	    dp.member_id seller
	from
	    cart c
	        left join direct_product_option dpo
	            on c.d_option_no = dpo.d_option_no
	        left join direct_product dp
	            on dpo.d_product_no = dp.d_product_no
	        left join direct_product_attachment dpa
        		on dp.d_product_no = dpa.d_product_no
	where
	    c.cart_no = #{cartNo}
	order by
		d_product_attach_no
  </select>
  
  <select id="selectCartListByMemberId" resultMap="cartListMap">
  	select
	    c.*,
	    dpo.*,
	    dpa.*,
	    dp.d_product_no,
	    dp.d_product_name,
	    dp.d_default_price,
	    dp.d_delivery_fee,
	    dp.member_id seller
	from
	    cart c 
	        left join direct_product_option dpo
	            on c.d_option_no = dpo.d_option_no
	        left join direct_product dp
	            on dpo.d_product_no = dp.d_product_no
	        left join direct_product_attachment dpa
	            on dp.d_product_no = dpa.d_product_no
	where
	    c.member_id = #{memberId}
	order by
	    cart_no, d_product_attach_no
  </select>
  
  <resultMap type="directProduct" id="orderListMap">
  	<id column="d_product_no" property="dProductNo"/>
  	<result column="d_product_name" property="dProductName"/>
  	<result column="d_default_price" property="dDefaultPrice"/>
  	<result column="d_delivery_fee" property="dDeliveryFee"/>
  	<result column="seller" property="memberId"/>
  	<association property="directProductOptions" javaType="DirectProductOption">
  		<id column="d_option_no" property="dOptionNo"/>
  		<result column="d_product_no" property="dProductNo"/>
  		<result column="d_option_name" property="dOptionName"/>
  		<result column="d_sale_status" property="dSaleStatus"/>
  		<result column="d_price" property="dPrice"/>
  		<result column="d_stock" property="dStock"/>
  	</association>
  	<association property="cart" javaType="CartEntity">
  		<id column="cart_no" property="cartNo"/>
  		<result column="d_option_no" property="dOptionNo"/>
  		<result column="member_id" property="memberId"/>
  		<result column="product_count" property="productCount"/>
  	</association>
  	<collection property="directProductAttachments" ofType="DirectProductAttachment">
  		<id column="d_product_attach_no" property="dProductAttachNo"/>
  		<result column="d_product_no" property="dProductNo"/>
  		<result column="d_product_original_filename" property="dProductOriginalFilename"/>
  		<result column="d_product_renamed_filename" property="dProductRenamedFilename"/>
  	</collection>
  </resultMap>
  
  <resultMap type="Cart" id="cartListMap">
  	<id column="cart_no" property="cartNo"/>
	<result column="d_option_no" property="dOptionNo"/>
	<result column="member_id" property="memberId"/>
	<result column="product_count" property="productCount"/>
  	<association property="directProductOption" javaType="DirectProductOption">
  		<id column="d_option_no" property="dOptionNo"/>
  		<result column="d_product_no" property="dProductNo"/>
  		<result column="d_option_name" property="dOptionName"/>
  		<result column="d_sale_status" property="dSaleStatus"/>
  		<result column="d_price" property="dPrice"/>
  		<result column="d_stock" property="dStock"/>
  	</association>
  	<association property="directProduct" javaType="DirectProductEntity">
  		<id column="d_product_no" property="dProductNo"/>
	  	<result column="d_product_name" property="dProductName"/>
	  	<result column="d_default_price" property="dDefaultPrice"/>
	  	<result column="d_delivery_fee" property="dDeliveryFee"/>
	  	<result column="seller" property="memberId"/>
  	</association>
  	<collection property="directProductAttachments" ofType="DirectProductAttachment">
  		<id column="d_product_attach_no" property="dProductAttachNo"/>
  		<result column="d_product_no" property="dProductNo"/>
  		<result column="d_product_original_filename" property="dProductOriginalFilename"/>
  		<result column="d_product_renamed_filename" property="dProductRenamedFilename"/>
  	</collection>
  </resultMap>
  
  <select id="findInquireAll" resultMap="directInquireListMap">
	select
  		i.*, 
  		ia.d_inquire_no d_inquire_a_no, ia.d_inquire_a_content, ia.d_inquire_answered_at, 
  		(select substr(member_name, 1, 1) || lpad('*', length(member_name)-2, '*') || substr(member_name, length(member_name), 1) from member m where m.member_id = i.member_id) member_name 
	from 
  		direct_inquire i 
  			left join direct_inquire_answer ia 
  				on i.d_inquire_no = ia.d_inquire_no 
  	where 
  		i.d_product_no = #{dProductNo} 
  	order by 
  		i.d_inquire_no desc
  </select>
  
  <resultMap type="DirectInquire" id="directInquireListMap">
  	<id column="d_inquire_no" property="dInquireNo"/>
	<result column="d_product_no" property="dProductNo"/>
	<result column="member_id" property="memberId"/>
	<result column="inquire_title" property="inquireTitle"/>
	<result column="content" property="content"/>
	<result column="created_at" property="createdAt"/>
	<result column="has_answer" property="hasAnswer"/>
  	<result column="member_name" property="memberName"/>
  	<association property="directInquireAnswer" javaType="DirectInquireAnswer">
  		<id column="d_inquire_a_no" property="dInquireNo"/>
		<result column="d_inquire_a_content" property="dInquireAContent"/>
		<result column="d_inquire_answered_at" property="dInquireAnsweredAt"/>
  	</association>
  </resultMap>
<!-- 민지 끝 -->

<!-- 수진 시작 -->
<select id="adminSelectProdList" resultMap="directProductListMap">
  	select * 
	from 
	    direct_product 
	    left join 
	    direct_product_option 
	        using(d_product_no)
	where 
	    d_product_no in(select 
	    					distinct d_product_no
                        from 
	                        direct_product 
	                        left join 
	                        direct_product_option 
	                        using(d_product_no)
                        where 
                        	d_sale_status = #{dSaleStatus})
   	order by d_product_created_at desc
  </select>
  <resultMap type="directProduct" id="directProductListMap">
  	<id column="d_product_no" property="dProductNo"/>
  	<result column="member_id" property="memberId"/>
  	<result column="d_product_name" property="dProductName"/>
	<result column="d_product_content" property="dProductContent"/>
  	<result column="d_product_created_at" property="dProductCreatedAt"/>
  	<result column="d_product_updated_at" property="dProductUpdatedAt"/>
  	<result column="d_default_price" property="dDefaultPrice"/>
  	<collection property="directProductOptions" ofType="DirectProductOption">
  		<id column="d_option_no" property="dOptionNo"/>
  		<result column="d_product_no" property="dProductNo"/>
  		<result column="d_option_name" property="dOptionName"/>
  		<result column="d_sale_status" property="dSaleStatus"/>
  		<result column="d_price" property="dPrice"/>
  		<result column="d_stock" property="dStock"/>
  	</collection>
  </resultMap>
  
  <update id="updateDirectProduct">
  	update direct_product
  	set d_product_content = #{dProductContent},
  		d_default_price = #{dDefaultPrice},
  		d_delivery_fee = #{dDeliveryFee},
  		d_product_updated_at = current_date 
  	where d_product_no = #{dProductNo}
  </update>
  
  <update id="mergeIntoDOption">
  	merge into direct_product_option
    using dual
    on (d_option_no = #{dOptionNo})
        when matched then
            update set d_sale_status = #{dSaleStatus},
                            d_price = #{dPrice},
                            d_stock = #{dStock}
        when not matched then
            insert (d_option_no, d_product_no, d_option_name, d_sale_status, d_price, d_stock) values ('DO'||seq_d_option_no.nextval, #{dProductNo}, #{dOptionName}, #{dSaleStatus}, #{dPrice}, #{dStock})
  </update>
<!-- 수진 끝 -->
</mapper>