<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.monong.member.model.dao.MemberDao">
<!-- =============================================================수진 시작 -->
  <update id="insertEmailIdentify">
  	merge into member_email_identify
  		using dual 
  		on (member_email = #{memberEmail})
  		when matched then
  			update set
  				identify_key = #{identifyKey}
  		when not matched then
  			insert (member_email, identify_key)
  			values (#{memberEmail}, #{identifyKey})	
  </update>
  
  <select id="getTotalOrderCntByProdNo" resultType="_int">
  	select count(*)
	from 
		(select distinct d_order_no 
		 from member_direct_order 
		 where d_product_no = #{prodNo}
		 <if test="startDate != null and endDate != null">	
		 	and d_order_no in(
    		select d_order_no 
    		from direct_order 
    		where d_order_date between #{startDate} and #{endDate})
   		 </if>
		 )
  </select>
  
  <select id="getTotalProdCntBySeller" resultType="_int">
  	select count(*)
	from
	(select distinct d_product_no
	 from direct_product 
	        left join 
	        direct_product_option using(d_product_no) 
	where member_id = #{memberId} and d_sale_status = #{dSaleStatus})
  </select>
  
  <select id="selectOrderListByProdNo" resultMap="orderMap">
  	select ord.*, (select d_option_name from direct_product_option where d_option_no = ord.d_option_no) d_option_name
	from
		(select * 
		 from direct_order do 
		 left join 
		 member_direct_order mdo using(d_order_no)
		 ) ord
	where d_product_no = #{prodNo}
        <if test="startDate != null and endDate != null">				
			and
	   		d_order_date between #{startDate} and #{endDate}
		</if>
	 order by d_order_no desc  
  </select>
  <resultMap type="map" id="orderMap">
  	<id column="d_order_no" property="dOrderNo"/>
  	<result column="member_id" property="customerId"/>
  	<result column="d_total_price" property="dTotalPrice"/>
  	<result column="d_dest_address" property="dDestAddress"/>
  	<result column="d_dest_address_ex" property="dDestAddressEx"/>
  	<result column="d_delivery_request" property="dDeliveryRequest"/>
  	<result column="d_recipient" property="dRecipient"/>
  	<result column="d_order_phone" property="dOrderPhone"/>
  	<result column="d_order_date" property="dOrderDate"/>
  	<result column="d_payments" property="dPayments"/>
  	<result column="d_order_status" property="dOrderStatus"/>
  	<collection property="dProdOptions" javaType="arraylist" ofType="hashmap">
  		<id column="d_option_no" property="dOptionNo"/>
  		<result column="d_option_count" property="dOptionCount"/>
  		<result column="d_option_name" property="dOptionName"/>
  	</collection>
  </resultMap>
  
  <select id="selectDirectListBySellerId" resultMap="directProductListMap">
  	select * 
	from 
	    direct_product 
	    left join 
	    direct_product_option 
	        using(d_product_no)
	where 
	    d_product_no in(select 
	    					distinct d_product_no
                        from 
	                        direct_product 
	                        left join 
	                        direct_product_option 
	                        using(d_product_no)
                        where 
                        	member_id = #{memberId} and d_sale_status = #{dSaleStatus})
    order by d_product_created_at desc
  </select>
  <resultMap type="directProduct" id="directProductListMap">
  	<id column="d_product_no" property="dProductNo"/>
  	<result column="member_id" property="memberId"/>
  	<result column="d_product_name" property="dProductName"/>
	<!-- <result column="d_product_content" property=""/> -->
  	<result column="d_product_created_at" property="dProductCreatedAt"/>
  	<result column="d_product_updated_at" property="dProductUpdatedAt"/>
  	<result column="d_default_price" property="dDefaultPrice"/>
  	<collection property="directProductOptions" ofType="DirectProductOption">
  		<id column="d_option_no" property="dOptionNo"/>
  		<result column="d_product_no" property="dProductNo"/>
  		<result column="d_option_name" property="dOptionName"/>
  		<result column="d_sale_status" property="dSaleStatus"/>
  		<result column="d_price" property="dPrice"/>
  		<result column="d_stock" property="dStock"/>
  	</collection>
  </resultMap>
 
	<select id="selectInquireList" resultMap="inquireMap">
		select 
		    *
		from 
		    inquire inq left join inquire_answer using(inquire_no)
		where 
		    member_id = #{memberId} 
		order by 
		    has_answer, inquire_created_at desc
	</select>
	<resultMap type="inquire" id="inquireMap">
		<id column="inquire_no" property="inquireNo"/>
		<result column="member_id" property="memberId"/>
		<result column="inquire_title" property="inquireTitle"/>
		<result column="inquire_content" property="inquireContent"/>
		<result column="inquire_created_at" property="inquireCreatedAt"/>
		<result column="has_answer" property="hasAnswer"/>
		<association property="inquireAnswer" javaType="InquireAnswer">
			<id column="inquire_a_no" property="inquireANo"/>
			<result column="inquire_no" property="inquireNo"/>
			<result column="inquire_a_content" property="inquireAContent"/>
			<result column="inquire_answered_at" property="inquireAnsweredAt"/>
		</association>
	</resultMap>
	
	
	<select id="selectDirectInqList" resultMap="directInqMap">
		select 
			d_inq.*,
			(select d_product_name from direct_product dp where d_inq.d_product_no = dp.d_product_no) d_product_name
		from(
			select 
				*
			from direct_inquire di left join direct_inquire_answer dia using(d_inquire_no)
			where 
				d_product_no 
					in (select d_product_no from direct_product where member_id = #{memberId}) 
			order by has_answer, created_at
			) d_inq
	</select>
	<resultMap type="directInquire" id="directInqMap">
		<id column="d_inquire_no" property="dInquireNo"/>
		<result column="d_product_no" property="dProductNo"/>
		<result column="member_id" property="memberId"/>
		<result column="inquire_title" property="inquireTitle"/>
		<result column="content" property="content"/>
		<result column="created_at" property="createdAt"/>
		<result column="has_answer" property="hasAnswer"/>
		<result column="d_product_name" property="dProductName"/>
		<association property="directInquireAnswer" javaType="DirectInquireAnswer">
			<id column="d_inquire_no" property="dInquireNo"/>
			<result column="d_inquire_a_content" property="dInquireAContent"/>
			<result column="d_inquire_answered_at" property="dInquireAnsweredAt"/>
		</association>
	</resultMap>
<!-- ==================================================수진 끝 -->

 <!-- ==================================================수아 시작 -->
 <select id="findAllMember" resultMap="memberMap">
  	select
		m.member_id,
		m.member_name,
		m.member_password,
		m.member_email,
		m.member_address,
		m.member_address_ex,
		m.member_phone,
		m.member_birthday,
		m.member_del,
		m.member_enroll_date,
		m.member_quit_date
  	from
  		member m
  		left join member_authority a
  			on m.member_id = a.member_id
  	where
  		a.auth= 'ROLE_MEMBER'
  	order by
  		m.member_enroll_date desc
  </select>
  
  <resultMap type="member" id="memberMap">
		<id column="member_id" property="memberId"/>
		<result column="member_name" property="memberName"/>
		<result column="member_password" property="memberPassword"/>
		<result column="member_email" property="memberEmail"/>
		<result column="member_address" property="memberAddress"/>
		<result column="member_address_ex" property="memberAddressEx"/>
		<result column="member_phone" property="memberPhone"/>
		<result column="member_birthday" property="memberBirthday"/>
		<result column="member_del" property="memberDel"/>
		<result column="member_enroll_date" property="memberEnrollDate"/>
		<result column="member_quit_date" property="memberQuitDate"/>
  </resultMap>
  
  <select id="findAllSeller" resultMap="sellerMap">
  select
		*
  	from
  		member m
  		left join seller_info s
        on m.member_id = s.member_id
        left join seller_info_attachment sa
        on m.member_id = sa.member_id
	where
	    s.seller_reg_no is not null and s.seller_status = 'REG_O'
	order by
   		m.member_enroll_date desc
  </select>
  
  <select id="findWaitSeller" resultMap="sellerMap">
  select
		*
  	from
  		member m
  		left join seller_info s
        on m.member_id = s.member_id
        left join seller_info_attachment sa
        on m.member_id = sa.member_id
	where
	    s.seller_reg_no is not null and s.seller_status = 'REG_W' and s.seller_del='N'
	order by
    	m.member_enroll_date desc
  </select>
  
  <resultMap type="seller" id="sellerMap">
  	<id column="member_id" property="memberId"/>
  		<result column="member_name" property="memberName"/>
		<result column="member_password" property="memberPassword"/>
		<result column="member_email" property="memberEmail"/>
		<result column="member_address" property="memberAddress"/>
		<result column="member_address_ex" property="memberAddressEx"/>
		<result column="member_phone" property="memberPhone"/>
		<result column="member_birthday" property="memberBirthday"/>
		<result column="member_del" property="memberDel"/>
		<result column="member_enroll_date" property="memberEnrollDate"/>
		<result column="member_quit_date" property="memberQuitDate"/>
		
  	<association property="sellerInfo" javaType="sellerInfo">
  		<id column="member_id" property="memberId"/>
  		<result column="seller_reg_no" property="sellerRegNo"/>
  		<result column="seller_name" property="sellerName"/>
  		<result column="seller_status" property="sellerStatus"/>
  		<result column="seller_quit_date" property="sellerQuitDate"/>
  		<result column="seller_enroll_date" property="sellerEnrollDate"/>
  		<result column="seller_del" property="sellerDel"/>
  	</association>
  	<association property="attachment" javaType="sellerInfoAttachment">
  		<id column="member_id" property="memberId"/>
  		<id column="seller_attach_no" property="sellerAttachNo"/>
  		<result column="orginal_filename" property="originalFilename"/>
  		<result column="renamed_filename" property="renamedFilename"/>
  	</association>
  </resultMap>
  
  <select id="getTotalSellerEnrollByMonth" resultType="_int">
    select
    	count(*)
	from
	    seller_info
	where
	    substr(seller_enroll_date,0,8) between(to_char(trunc(sysdate,'mm'), 'yy/mm/dd')) and (last_day(sysdate))
  </select>
  
  <select id="selectRecentSubById" resultType="subscription">
    select
    *
	from
	 subscription
	where   
	    member_id=#{memberId} and rownum =1
	order by 
	    s_no desc
  </select>
  
  <update id="updateSubscribeOrder">
  	update 
  		subscription
  	set
  		s_exclude_vegs = #{sExcludeVegs},
  		s_product_code = #{sProductCode},
  		s_delivery_cycle = #{sDeliveryCycle},
  		s_next_delivery_date = #{sNextDeliveryDate},
  		s_delay_yn = #{sDelayYn},
  		s_recipient = #{sRecipient},
  		s_phone = #{sPhone},
  		s_address = #{sAddress},
  		s_address_ex = #{sAddressEx},
  		s_delivery_request = #{sDeliveryRequest},
  		s_payment_date = #{sPaymentDate}
  	where 
  		s_no = #{sNo}
  </update>
  
  <select id="selectSubscriptionListById" resultMap="subscriptionListMap">
    select
	    so.*,
	    sr.s_review_no
	from
	    subscription_order so left join subscription_review sr on so.s_order_no=sr.s_order_no
	where
	   so.s_no in 
		   (select 
		      s_no 
		    from  
		      subscription 
		    where 
		        member_id = #{memberId}
	    	)	
	    order by
	    	so.s_order_no desc
  </select>
  
   <select id="selectProdListBydOrderNo" resultType="directProductEntity">
  select
    *
	from
	    direct_product
	where
	  d_product_no in  (
	    select
	       d_product_no
	    from
	        member_direct_order
	    where
	        d_order_no = #{dOrderNo} )
  </select>
  
  <select id="selectDirectOptionList" resultMap="orderDirectOptionMap">
  	select
  	    *
	from
	    member_direct_order mdo
	    left join direct_product_option dpo
	    on mdo.d_option_no = dpo.d_option_no
	    left join direct_product dp
	    on mdo.d_product_no = dp.d_product_no
	    left join direct_product_attachment dpa
	    on mdo.d_product_no = dpa.d_product_no
	where
	    mdo.d_order_no = #{dOrderNo}
  </select>
  
  
  <resultMap type="map" id="orderDirectOptionMap">
  	<id column="d_option_no" property="dOptionNo"/>
  	<result column="d_order_no" property="dOrderNo"/>
  	<result column="d_product_no" property="dProductNo"/>
  	<result column="d_option_count" property="dOptionCount"/>
  	<association property="directOptions" javaType="directProductOption">
  		<id column="d_option_no" property="dOptionNo"/>
  		<result column="d_product_no" property="dProductNo"/>
  		<result column="d_option_name" property="dOptionName"/>
  		<result column="d_price" property="dPrice"/>
  	</association>
  	<association property="directProds" javaType="directProductEntity">
  		<id column="d_product_no" property="dProductNo"/>
  		<result column="d_product_name" property="dProductName"/>
  	</association>
  	<association property="directattachs" javaType="directProductAttachment">
  		<id column="d_product_attach_no" property="dProductAttachNo"/>
  		<result column="d_product_no" property="dProductNo"/>
  		<result column="d_product_renamed_filename" property="dProductRenamedFilename"/>
  	</association>
  </resultMap>
 
 <!-- ==================================================수아 끝 -->
 <!-- ==================================================미송 시작 -->
   <resultMap type="subscriptionOrderExt" id="subscriptionListMap">
  	<id column="s_order_no" property="sOrderNo"/>
  		<result column="s_no" property="sNo"/>
		<result column="s_times" property="sTimes"/>
		<result column="s_price" property="sPrice"/>
		<result column="s_order_date" property="sOrderDate"/>
		<result column="s_order_status" property="sOrderStatus"/>
  	<association property="sReviewNo" javaType="string">
  		<result column="s_review_no" property="sReviewNo"/>
  	</association>
  </resultMap>
   
  <select id="getTotalContent" resultType="_int">
 	select
		count(*)
	from
	    subscription_review sr 
	        left join subscription_order so
	            on sr.s_order_no = so.s_order_no
	        left join subscription s 
	            on so.s_no = s.s_no
	where s.member_id = #{memberId}
  </select>
  
  <select id="selectSubscriptionReviewList" resultMap="subscriptionReviewMap">
  select
	    so.s_times,
	    sr.*
	from
	    subscription_review sr 
	        left join subscription_order so
	            on sr.s_order_no = so.s_order_no
	        left join subscription s 
	            on so.s_no = s.s_no
	where s.member_id = #{memberId}
  </select>
  
  <resultMap type="subscriptionReview" id="subscriptionReviewMap">
		<id column="s_review_no" property="sReviewNo"/>
		<result column="s_order_no" property="sOrderNo"/>
		<result column="s_review_content" property="sReviewContent"/>
		<result column="s_review_star" property="sReviewStar"/>
		<result column="s_review_recommend_num" property="sReviewRecommendNum"/>
		<result column="s_review_created_at" property="sReviewCreatedAt"/>
		<result column="s_review_updated_at" property="sReviewUpdatedAt"/>
		<association property="sTimes" javaType="_int">
			<result column="s_times" property="sTimes"/>
		</association>
	</resultMap>
 <!-- ==================================================미송 끝 -->
 <!--===============================수아 시작-->
  <select id="selectReviewDirectProduct" resultMap="reviewDirectProdMap">
 	select 
	    *
	from
	    member_direct_order mdo
	    left join  direct_product_option dpo
	    on mdo.d_option_no = dpo.d_option_no
	    left join direct_product dp
	    on dpo.d_product_no = dp.d_product_no
	where
	    dpo.d_option_no = #{dOptionNo} and mdo.d_order_no=#{dOrderNo}
 	</select>
 	
 	<resultMap type="map" id="reviewDirectProdMap">
 		<id column="d_option_no" property="dOptionNo"/>
 		<result column="d_order_no" property="dOrderNo"/>
 		<association property="directOpt" javaType="directProductOption">
 			<id column="d_option_no" property="dOptionNo"/>
 			<result column="d_product_no" property="dProductNo"/>
 			<result column="d_option_name" property="dOptionName"/>
 			<result column="d_option_name" property="dOptionName"/>
 		</association>
 		<association property="directProd" javaType="directProductEntity">
 			<id column="d_product_no" property="dProductNo"/>
 			<result column="d_product_name" property="dProductName"/>
 		</association>
 	</resultMap>
 	
 	<select id="selectDirectReviewProdList" resultMap="orderDirectOptionMap">
 	select 
	    *
	from
	    member_direct_order mdo
	    left join direct_product_option dpo
	    on mdo.d_option_no = dpo.d_option_no
	    left join direct_product dp
	    on dpo.d_product_no = dp.d_product_no
	    left join direct_product_attachment dpa
	    on mdo.d_product_no = dpa.d_product_no
	where
	   mdo.d_order_no in (
	    select
	        d_order_no
	    from
	        direct_order
	    where
	        member_id=#{memberId} and d_order_status='F'
	    ) and
	    mdo.d_option_no not in (
	    select
	        d_option_no
	    from
	        direct_review
	    where
	        member_id=#{memberId}
	    )
	 order by
	 	mdo.d_order_no desc
 	
 	</select>
 
 	<select id="selectDirectReviewList" resultMap="directReviewMap">
 	select
	    dr.*,
	    dra.d_review_renamed_filename,
	    dpo.d_option_name,
	    dp.d_product_name,
	    dp.d_product_no
	from
	    direct_review dr
	    left join direct_review_attachment dra
	    on dr.d_review_no = dra.d_review_no
	    left join direct_product_option dpo
	    on dr.d_option_no = dpo.d_option_no
	    left join direct_product dp
	    on dpo.d_product_no = dp.d_product_no
	where
	    dr.member_id= #{memberId}
	order by
		dr.d_review_created_at desc
 	</select>
 	
 	<resultMap type="map" id="directReviewMap">
 		<id column="d_review_no" property="dReviewNo"/>
 		<result column="d_option_no" property="dOptionNo"/>
 		<result column="d_order_no" property="dOrderNo"/>
 		<result column="d_review_title" property="dReviewTitle"/>
 		<result column="member_id" property="memberId"/>
 		<result column="d_review_content" property="dReviewContent"/>
 		<result column="review_rating" property="reviewRating"/>
 		<result column="d_review_recommend" property="dReviewRecommend"/>
 		<result column="d_review_created_at" property="dReviewCreatedAt"/>
 		<result column="d_review_updated_at" property="dReviewUpdatedAt"/>
 		<association property="reviewAttach" javaType="directReviewAttachment">
 			<id column="d_review_attach_no" property="dReviewAttachNo"/>
 			<result column="d_review_no" property="dReviewNo"/>
 			<result column="d_review_renamed_filename" property="dReviewRenamedFilename"/>
 			<result column="d_review_original_filename" property="dReviewOriginalFilename"/>
 		</association>
 		<association property="reviewOpt" javaType="directProductOption">
 			<id column="d_option_no" property="dOptionNo"/>
 			<result column="d_option_name" property="dOptionName"/>
 			<result column="d_product_no" property="dProductNo"/>
 		</association>
 		<association property="reviewProd" javaType="directProductEntity">
 			<id column="d_product_no" property="dProductNo"/>
 			<result column="d_product_name" property="dProductName"/>
 		</association>
 	</resultMap>
 	
 	<select id="selectDirectReview" resultMap="directReviewMap">
 		select
		    dr.*,
		    dra.d_review_renamed_filename,
		    dra.d_review_original_filename,
		    dra.d_review_attach_no,
		    dpo.d_option_name,
		    dp.d_product_name,
		    dp.d_product_no
		from
		    direct_review dr
		    left join direct_review_attachment dra
		    on dr.d_review_no = dra.d_review_no
		    left join direct_product_option dpo
		    on dr.d_option_no = dpo.d_option_no
		    left join direct_product dp
		    on dpo.d_product_no = dp.d_product_no
		where
		    dr.d_review_no= #{dReviewNo}
 	</select>
 <!--=================================수아 끝-->
</mapper>