<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.monong.member.model.dao.MemberDao">
<!-- =============================================================수진 시작 -->
  <update id="insertEmailIdentify">
  	merge into member_email_identify
  		using dual 
  		on (member_email = #{memberEmail})
  		when matched then
  			update set
  				identify_key = #{identifyKey}
  		when not matched then
  			insert (member_email, identify_key)
  			values (#{memberEmail}, #{identifyKey})	
  </update>
  
  <select id="getTotalOrderCntByProdNo" resultType="_int">
  	select count(*)
	from 
		(select distinct d_order_no 
		 from member_direct_order 
		 where d_product_no = #{prodNo}
		 <if test="startDate != null and endDate != null">	
		 	and d_order_no in(
    		select d_order_no 
    		from direct_order 
    		where d_order_date between #{startDate} and #{endDate})
   		 </if>
		 )
  </select>
  
  <select id="getTotalProdCntBySeller" resultType="_int">
  	select count(*)
	from
	(select distinct d_product_no
	 from direct_product 
	        left join 
	        direct_product_option using(d_product_no) 
	where member_id = #{memberId} and d_sale_status = #{dSaleStatus})
  </select>
  
  <select id="selectOrderListByProdNo" resultMap="orderMap">
  	select ord.*, (select d_option_name from direct_product_option) d_option_name
	from
		(select * 
		 from direct_order do 
		 left join 
		 member_direct_order mdo using(d_order_no)
		 ) ord
	where d_product_no = #{prodNo}
        <if test="startDate != null and endDate != null">				
			and
	   		d_order_date between #{startDate} and #{endDate}
		</if>
	    
  </select>
  <resultMap type="map" id="orderMap">
  	<id column="d_order_no" property="dOrderNo"/>
  	<result column="member_id" property="customerId"/>
  	<result column="d_total_price" property="dTotalPrice"/>
  	<result column="d_dest_address" property="dDestAddress"/>
  	<result column="d_dest_address_ex" property="dDestAddressEx"/>
  	<result column="d_delivery_request" property="dDeliveryRequest"/>
  	<result column="d_recipient" property="dRecipient"/>
  	<result column="d_order_phone" property="dOrderPhone"/>
  	<result column="d_order_date" property="dOrderDate"/>
  	<result column="d_payments" property="dPayments"/>
  	<result column="d_order_status" property="dOrderStatus"/>
  	<collection property="dProdOptions" ofType="map">
  		<id column="d_option_no" property="dOptionNo"/>
  		<result column="d_option_count" property="dOptionCount"/>
  		<result column="d_option_name" property="dOptionName"/>
  	</collection>
  </resultMap>
  
  <select id="selectDirectListBySellerId" resultMap="directProductListMap">
  	select * 
	from 
	    direct_product 
	    left join 
	    direct_product_option 
	        using(d_product_no)
	where 
	    d_product_no in(select 
	    					distinct d_product_no
                        from 
	                        direct_product 
	                        left join 
	                        direct_product_option 
	                        using(d_product_no)
                        where 
                        	member_id = #{memberId} and d_sale_status = #{dSaleStatus})
  </select>
  <resultMap type="directProduct" id="directProductListMap">
  	<id column="d_product_no" property="dProductNo"/>
  	<result column="member_id" property="memberId"/>
  	<result column="d_product_name" property="dProductName"/>
	<!-- <result column="d_product_content" property=""/> -->
  	<result column="d_product_created_at" property="dProductCreatedAt"/>
  	<result column="d_product_updated_at" property="dProductUpdatedAt"/>
  	<result column="d_default_price" property="dDefaultPrice"/>
  	<collection property="directProductOptions" ofType="DirectProductOption">
  		<id column="d_option_no" property="dOptionNo"/>
  		<result column="d_product_no" property="dProductNo"/>
  		<result column="d_option_name" property="dOptionName"/>
  		<result column="d_sale_status" property="dSaleStatus"/>
  		<result column="d_price" property="dPrice"/>
  		<result column="d_stock" property="dStock"/>
  	</collection>
  </resultMap>
 
<!-- ==================================================수진 끝 -->

 <!-- ==================================================수아 시작 -->
 <select id="findAllMember" resultMap="memberMap">
  	select
		m.member_id,
		m.member_name,
		m.member_password,
		m.member_email,
		m.member_address,
		m.member_address_ex,
		m.member_phone,
		m.member_birthday,
		m.member_del,
		m.member_enroll_date,
		m.member_quit_date
  	from
  		member m
  		left join member_authority a
  			on m.member_id = a.member_id
  	where
  		a.auth= 'ROLE_MEMBER'
  	order by
  		m.member_enroll_date desc
  </select>
  
  <resultMap type="member" id="memberMap">
		<id column="member_id" property="memberId"/>
		<result column="member_name" property="memberName"/>
		<result column="member_password" property="memberPassword"/>
		<result column="member_email" property="memberEmail"/>
		<result column="member_address" property="memberAddress"/>
		<result column="member_address_ex" property="memberAddressEx"/>
		<result column="member_phone" property="memberPhone"/>
		<result column="member_birthday" property="memberBirthday"/>
		<result column="member_del" property="memberDel"/>
		<result column="member_enroll_date" property="memberEnrollDate"/>
		<result column="member_quit_date" property="memberQuitDate"/>
  </resultMap>
  
  <select id="findAllSeller" resultMap="sellerMap">
  select
		*
  	from
  		member m
  		left join seller_info s
        on m.member_id = s.member_id
        left join seller_info_attachment sa
        on m.member_id = sa.member_id
	where
	    s.seller_reg_no is not null and s.seller_status = 'REG_O'
	order by
   		m.member_enroll_date desc
  </select>
  
  <select id="findWaitSeller" resultMap="sellerMap">
  select
		*
  	from
  		member m
  		left join seller_info s
        on m.member_id = s.member_id
        left join seller_info_attachment sa
        on m.member_id = sa.member_id
	where
	    s.seller_reg_no is not null and s.seller_status = 'REG_W' and s.seller_del='N'
	order by
    	m.member_enroll_date desc
  </select>
  
  <resultMap type="seller" id="sellerMap">
  	<id column="member_id" property="memberId"/>
  		<result column="member_name" property="memberName"/>
		<result column="member_password" property="memberPassword"/>
		<result column="member_email" property="memberEmail"/>
		<result column="member_address" property="memberAddress"/>
		<result column="member_address_ex" property="memberAddressEx"/>
		<result column="member_phone" property="memberPhone"/>
		<result column="member_birthday" property="memberBirthday"/>
		<result column="member_del" property="memberDel"/>
		<result column="member_enroll_date" property="memberEnrollDate"/>
		<result column="member_quit_date" property="memberQuitDate"/>
		
  	<association property="sellerInfo" javaType="sellerInfo">
  		<id column="member_id" property="memberId"/>
  		<result column="seller_reg_no" property="sellerRegNo"/>
  		<result column="seller_name" property="sellerName"/>
  		<result column="seller_status" property="sellerStatus"/>
  		<result column="seller_quit_date" property="sellerQuitDate"/>
  		<result column="seller_enroll_date" property="sellerEnrollDate"/>
  		<result column="seller_del" property="sellerDel"/>
  	</association>
  	<association property="attachment" javaType="sellerInfoAttachment">
  		<id column="member_id" property="memberId"/>
  		<id column="seller_attach_no" property="sellerAttachNo"/>
  		<result column="orginal_filename" property="originalFilename"/>
  		<result column="renamed_filename" property="renamedFilename"/>
  	</association>
  </resultMap>
  
  <select id="getTotalSellerEnrollByMonth" resultType="_int">
    select
    	count(*)
	from
	    seller_info
	where
	    substr(seller_enroll_date,0,8) between(to_char(trunc(sysdate,'mm'), 'yy/mm/dd')) and (last_day(sysdate))
  </select>
 <!-- ==================================================수아 끝 -->
</mapper>