@CHARSET "UTF-8";
/* 민지 시작 */
/******상품 상세 페이지**** */
/****** 구역 나누기 ***** */
.main-container {
  display: inline-flex;
  align-items: flex-start;
  width: 1240px;
  justify-content: center;
  flex-wrap: wrap;
}
.slider-container {
  display: inline-block;
  width: 400px;
  min-height: 500px;
  margin-right: 30px;
}
.pInfo-container {
  display: inline-block;
  width: 400px;
  min-height: 500px;
  vertical-align: text-top;
}
.dProductName {
	display: inline-block;
    font-size: 24px;
    padding-bottom: 5px;
}
.dDefaultPrice {
	display: inline-block;
    font-size: 19px;
    font-weight: bold;
    padding-left: 2px;
    padding-bottom: 15px;
}
.dPrice-review-container {
	display: inline-flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.review-wrap {
	display: inline-block;
	padding-right: 2px;
	padding-bottom: 15px;
}
.reviewStar img {
	display: inline-block;
	width: 15px;
	vertical-align: text-top;
	margin: 0 2px;
}
.reviewAvgScore {
	font-size: 18px;
	padding: 0 2px 0 4px;
}
.dDeliveryFee-title {
	display: inline-block;
    font-size: 14px;
    width: 125px;
    color: rgba(107,114,128);
    padding: 15px 25px 5px 2px;
}
.dDeliveryFee {
	display: inline-block;
    font-size: 15px;
    padding-top: 15px;
}
.seller-title {
	display: inline-block;
    font-size: 14px;
    width: 125px;
    color: rgba(107,114,128);
    padding: 0 25px 15px 2px;
}
.seller {
	display: inline-block;
    font-size: 15px;
    padding-bottom: 15px;
}

.soldout {
	display: none;
	position: absolute;
	z-index: 1;
	background-color: #fff;
	width: 400px;
    min-height: 200px;
    justify-content: center;
}
.soldout-content {
	display: inline-flex;
	background-color: rgba(196,199,204);
	color: white;
	font-size: 15px;
	width: 396px;
    height: 60px;
    margin-top: 12px;
    align-items: center;
    justify-content: space-evenly;
}

/***** 모달 쏠림 방지 *****/
.modal-open { padding-right: 0px !important; }
.modal { padding-right: 0px !important; }

/****** 이미지 슬라이드 ***** */
/* 슬라이더 1 시작 */
.slider-1 {
    width: 400px;
    height: 400px;
    position:relative;
}

/* 슬라이더 1 - 페이지 버튼 */
.slider-1 > .page-btns {
    text-align:left;
    position:absolute;
    bottom:-81px;
    display: inline-flex;
    justify-content: flex-start;
    left:0;
    width:100%;
}

.slider-1 > .page-btns > div {
    width:75px;
    height:75px;
    background-color:black;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    margin-right: 6px;
    filter: brightness(70%);
}

.slider-1 > .page-btns > div:last-child {
    width:75px;
    height:75px;
    background-color:black;
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
    margin-right: 0px;
}

.slider-1 > .page-btns > div.active {
    border: 2px solid black;
    box-sizing: border-box; 
    filter: brightness(100%);
    background-origin: border-box;
}

/* 슬라이더 1 - 슬라이드 */

.slider-1 > .slides > div {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0;
    transition: opacity 0.3s;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}

.slider-1 > .slides > div.active {
    opacity:1;
}

/* 슬라이더 좌우 버튼 */
.slider-1 > .side-btns > div {
    position:inherit;
    top:0;
    left:0;
    width:100%;
    cursor:pointer;
}
.slider-1 > .side-btns > div:last-child {
    left:auto;
    right:0;
}
.slider-1 >.side-btns > div > span {
    position:absolute;
    top:50%;
    left:0;
    transform:translatey(-50%);
    opacity:0.8;
    color: white;
    padding:10px 20px;
    border-radius:50px;
    font-size:35px;
}
.slider-1 >.side-btns > div:last-child > span {
    left:auto;
    right:0;
}

/* 드롭다운 */

.dropdown{
  position : relative;
  display : block;
  width: 394px;
  margin: 0 auto;
  z-index: 0;
}

.dropbtn{
  display : block;
  border : 2px solid rgb(94, 94, 94);
  border-radius : 4px;
  background-color: #fcfcfc;
  font-weight: 400;
  color : rgba(107,114,128);
  padding : 10px;
  width : 394px;
  height: 40px;
  text-align: left;
  cursor : pointer;
  font-size : 15px;
  z-index :1;
  position : relative;
}

.dropbtn_click {
  font-size : 12px;
  color : rgb(94, 94, 94);
  float:right;
  font-weight: bold;
}

.dropdown-content{
  display : none;
  font-weight: 400;
  background-color: #fcfcfc;
  min-width : 394px;
  border-radius: 8px;
  max-height : 129px;
  overflow : scroll;
  box-shadow: 0px 0px 10px 3px rgba(190, 190, 190, 0.6);
}
.dropdown-content::-webkit-scrollbar{
  width : 5px;
  height : 2px;
}
.dropdown-content::-webkit-scrollbar-thumb{
  border-radius : 2px;
  background-color :rgb(194, 194, 194)
}

.dropdown-content div{
  display : block;
  text-decoration : none;
  color : rgb(37, 37, 37);
  font-size: 0px;
}
.dropdown-content div:hover{
  background-color: rgb(226, 226, 226);
}

.dropdown-content.show{
  display : block;
  position: absolute;
}

.tbl-dropdown{
  width: 100%;
  font-size: 0px;
}

.select_option{
  padding : 12px 0;
  width: 100%;
}

.select_option > td{
  font-size: 13px;
}

.dPOName{
  display: inline-block;
  width: 289px;
  text-align: left;
  padding: 12px 0px 12px 12px;
  font-size: 13px;
}

.dPrice{
  display: inline-block;
  width: 100px;
  text-align: right;
  padding : 12px 12px 12px 0px;
  font-size: 13px;
}


/* 옵션 박스 */
.pOption-container {
	margin-top: 7px;
}
.option-box {
	padding: 8px 2px 0 2px;
	display: inline-flex;
	align-items: center;
    justify-content: space-between;
    width: 100%;
}
.option-info-wrap {
	display: inline-block;
	font-size: 14px;
}
.option-count-wrap {
	display: inline-block;
	font-size: 14px;
}
.option-count-box {
	display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 80px;
    justify-content: center;
}
.option-count-minus {
	width: 25px;
    height: 25px;
    border: none;
    vertical-align: top;
    justify-content: center;
}
.dOptionCount {
	display: inline-flex;
    justify-content: center;
    width: 30px;
    height: 28px;
    align-items: center;
}
.option-count-plus {
	width: 25px;
    height: 25px;
    border: none;
    vertical-align: top;
    justify-content: center;
}
#option-count-delete {
	border: none;
    background-color: transparent;
}
.selected-price {
	padding-right: 6px;
	font-weight: bold;
}
/* 총 상품 금액 */
.pPrice-container {
	padding: 15px 2px 20px;
	display: inline-flex;
	justify-content: space-between;
    width: 100%;
    align-items: center;
}
.total-price-container {
	font-weight: bold;
	color: #EA5C2B;
	font-size: 17px;
}
.btn-container {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    padding-bottom: 20px;
}

.btn-add-cart {
	width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-right: 10px;
    border: 1px solid transparent;
}
.btn-add-order {
	width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-right: 10px;
    border: 1px solid transparent;
}

/****** 상품 결제 페이지 ***** */
.pay-title {
	padding-bottom: 10px;
	border-bottom: 1px solid #333;
}

.dProduct_selected {
	width: 100%;
	padding: 20px 60px 30px 30px;
}

.dProduct_selected h4 {
	color: #EA5C2B;
	font-weight: 700;
}

.dProduct-info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.dProduct-info-content {
	width: 1150px;
/* 	border-bottom: 1px solid #333; */
	margin: auto 0;
}

.dProduct-info-content .bold {
	font-weight: 700;
}

.dProduct-info-content button {
	float: right;
}

.dProduct-info-content p:not(.bold) {
	display: inline-block;
	width: 150px;
}

.dProduct-info-content p:first-of-type::after {
	content: '';
	display: block;
	width: 1150px;
	margin-top: 8px;
	border-bottom: 1px solid #333;
}

.dProduct-info-content input {
	width: calc(100% - 200px);
	text-align: right;
	border: none;
}

.dProduct-info-content input:focus-visible {
	outline: none;
}

.dOrder-info {
	display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding: 18px 0px;
    border-bottom: 1px solid rgb(244, 244, 244);
}

.dOrder-img {
	display: inline-flex;
    width: 90px;
    height: 90px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0px 30px;
}

.dOrder-name-container {
	margin: 0px 30px;
	width: 620px;
	text-align: left;
	display: flex;
	flex-direction: column;
}

.dOrder-productName {
	max-height: 54px;
	padding-top: 5px;
	margin: 0;
}

.dOrder-optionName {
	max-height: 38px;
	margin: 2px 0 0;
	padding-bottom: 5px;
	font-size: 14px;
	line-height: 19px;
    color: rgb(153, 153, 153);
    overflow: hidden;
}

.dOrder-count {
	width: 100px;
    text-align: center;
    margin: 0px 30px;
}

.dOrder-price {
	margin: 0px 30px;
	width: 100px;
	text-align: right;
	font-weight: bold;
}

.dOrder-wrapper {
	display: flex;
	justify-content: space-between;
}

.dOrder-addr-info {
	width: 100%;
}

.dPay-info {
	width: calc(( 100% - 94px)/2);
}

.dOrder-addr-info>h4, .dPay-info>h4 {
	font-weight: 700;
}

.dOrder-addr-info-content, .dPay-info-content {
	margin: 20px 0;
}

.dOrder-addr-info-content input[type=text] {
	height: 40px;
	border-style: none;
	border-bottom: 1px solid #333;
	width: 80%;
}

.dOrder-addr-info-content input[type=text]:focus-visible {
	outline: none;
}

.dOrder-addr-info-content label {
	margin-top: 20px;
}

.dOrder-addr-info-content .btn-EA5C2B {
	margin-left: 10px;
}

.dOrder-addr-info-content .error {
	display: none;
	color: red;
}
.dPay-info-content p {
	display: inline-block;
	width: 150px;
}

.dPay-info-content input {
	width: calc(100% - 200px);
	text-align: right;
	border: none;
}

.dPay-info-content input[type=text]:focus-visible {
	outline: none;
}

#d-order-card {
	display: flex;
	margin: 20px 0;
	align-items: center;
	justify-content: space-between;
}

#d-order-card>p {
	width: 150px;
}

.d-card {
	display: flex;
	width: calc(100% - 140px);
}

.d-card div {
	position: relative;
	width: calc(100% / 2);
	height: 160px;
	margin-right: 20px;
	border-radius: 10px;
	text-align: center;
	background-color: #f6d8601c;
}

.d-card #d-card-kg,
.d-card #d-card-kakao {
	position: absolute;
	top: 20px;
	right: 140px;
	accent-color: #EA5C2B;
}

.d-card .payCheck {
	border: 1px solid #EA5C2B;
}

.d-card img, .d-card>span {
	display: block;
}

.d-card img {
	width: 120px;
	margin: auto 10px;
}

.dOrder-totle-price {
	display: flex;
	padding: 20px 0;
	align-items: center;
}

.dOrder-totle-price>span {
	display: block;
	margin-right: 20px;
	font-size: 20px;
	font-weight: 700;
}

.dOrder-totle-price .d-price {
	margin: 0 40px 0 0;
	text-align: right;
	list-style: none;
	flex-grow: 1;
	font-size: 28px;
	color: #EA5C2B;
	font-weight: 700;
}

.dOrder-totle-price span:last-child {
	font-size: 20px;
	color: #333;
}

.privacyAgree {
	margin-top: 60px;
	width: 528px;
}

.privacyAgree input {
	accent-color: #EA5C2B;
}

.privacyAgree textarea {
	color: #666;
	display: none;
}

.btn-d-pay {
	display: block;
	width: 220px;
	padding: 15px;
	margin: 20px auto;
}

/***** 장바구니 페이지 *****/
.cart-title {
	padding-bottom: 10px;
	border-bottom: 1px solid #333;
}

.dCart_selected {
	width: 100%;
	padding: 20px 60px 30px 30px;
}

.dCart_selected h4 {
	color: #EA5C2B;
	font-weight: 700;
}

.checkbox-container {
	display: flex;
	justify-content: space-between;
	padding: 18px 2px 8px 2px;
	align-items: flex-end;
	height: 56px;
	border-bottom: 1px solid rgb(51, 51, 51);
}

.checkedAll {
	display: inline-flex;
	vertical-align: top;
	line-height: 29px;
}
#checkedAll {
	margin-right: 10px;
}

.checkbox-bar {
	display: inline-block;
	width: 1px;
	height: 14px;
	background: #ddd;
	margin: 6px 21px 0 22px;
	vertical-align: top;
}

.checkedDelete {
	display: inline-flex;
	vertical-align: top;
	line-height: 29px;
	border: none;
	background-color: transparent;
	overflow: visible;
	padding: 0;
}

.allClear {
	font-size: 14px;
}

.dCart-info {
	list-style-type: none;
	padding-inline-start: 30px;
}

.cart-list {
	display: flex;
	align-items: center;
	position: relative;
	padding: 20px 0px;
	border-bottom: 1px solid rgb(244, 244, 244);
}

.dCart-img-container {
	display: inline-block;
	width: 90px;
	height: 90px;
	background: center center no-repeat rgb(245, 245, 245);
	margin: 0 30px;
}
.dCart-img-container:hover {
	cursor: pointer;
	color: #333;
}

.dCart-img {
	display: block;
    height: 90px;
    width: 90px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.dCart-name {
	text-decoration: none;
}

.dCart-name:hover {
	color: #333;
	text-decoration: none;
	cursor: pointer;
}

.dCart-name-container {
	display: flex;
	flex-direction: column;
	width: 590px;
	margin: 0px 30px;
}

.dCart-productName {
	max-height: 54px;
	padding-top: 5px;
	margin: 0;
}

.dCart-optionName {
	max-height: 38px;
	margin: 2px 0 0;
	padding-bottom: 5px;
	font-size: 14px;
	line-height: 19px;
    color: rgb(153, 153, 153);
    overflow: hidden;
}

.dCart-count-container {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	width: 100px;
	margin: 0 30px;
	justify-content: center;
}

.dCart-minus-btn {
	width: 28px;
	height: 28px;
	border: none;
	vertical-align: top;
	justify-content: center
}

.dCart-count {
	display: inline-flex;
	justify-content: center;
	width: 30px;
	height: 28px;
	align-items: center
}

.dCart-plus-btn {
	width: 28px;
	height: 28px;
	border: none;
	vertical-align: top;
	justify-content: center
}

.dCart-price-container {
	margin-left: 30px;
    width: 100px;
    text-align: right;
    font-weight: bold;
}

.dCart-delete-btn {
	margin: 0 24px  0 15px;
	border: none;
	background-color: transparent;
}

/* 장바구니 테이블 */
.dCartProduct-pay-info {
    margin: 50px 0;
}

.tbl-dCartProduct-pay {
	width: 100%;
	table-layout: fixed;
}

.tbl-dCartProduct-pay thead {
	border-top: 1px solid rgb(51, 51, 51);
	border-bottom: 1px solid rgb(51, 51, 51);
	height: 68px;
    font-size: 19px;
}

.tbl-dCartProduct-pay tbody {
	border-bottom: 1px solid rgb(51, 51, 51);
	height: 125px;
    font-size: 23px;
    font-weight: bold;
}

.tbl-dCartProduct-pay th, td {
	text-align: center;
}

.dCartProduct-pay-btn {
	display: flex;
    justify-content: flex-end;
}

/***** 하단 정보 *****/

.direct-detail-nav {
  display: inline-flex;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 2px;
}
.direct-detail-nav:hover {
  cursor: pointer;
}

.direct-detail-nav-item {
  color: #fff;
  padding: 15px;
  text-decoration: none;
  text-align: center;
  transition: .3s;
  margin: 0 1px;
  z-index: 1;
  font-weight: 400;
  position: relative;
  background-color: #FF7F3F;
  border-radius: 13px 13px 0 0;
  border: 1px solid #FF7F3F;
  width: 160px;
}

.direct-detail-nav-item:not(.is-active):hover {
  color: #FF7F3F;
  border: 1px solid #FF7F3F;
  font-weight: bold;
  background-color: #fff;
}

.direct-footer-container {
	width: 830px;
	padding-top: 20px;
}

.dProductContent {
	padding: 120px 2px 20px 2px;
	text-align: center;
}
.dProductInquire {
	padding: 30px 2px 30px 2px;
	text-align: center;
}
.dProductReview {
	padding: 30px 2px 20px 2px;
	text-align: center;
}

/***** 상품 문의 *****/
.tbl-inquire-container {
	display: flex;
    justify-content: center;
    padding: 12px 20px 0 20px;
}
.tbl-inquire {
	width: 100%;
}
.tbl-inquire thead {
	height: 58px;
	font-size: 14px;
	border-top: 2px solid rgb(94, 94, 94);
    border-bottom: 1px solid rgb(94, 94, 94);
}
.tbl-inquire tbody {
	font-size: 14px;
}
.tbl-inquire th {
	text-align: center;
	padding: 0 10px;
}
.tbl-inquire td {
	text-align: center;
	padding: 0 10px;
	border-bottom: 1px solid #e5e7eb;
}
.btn-dProductInquire {
	display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
}
.enrollInquire {
	font-size: 13px;
	width: 120px;
    padding: 7px;
	margin: 0 5px 0 0;
}
.findInquire {
	font-size: 13px;
	width: 120px;
    padding: 7px;
}
.inquire-author {
	width: 110px;
}
.inquire-created-date {
	width: 110px;
}
.inquire-status {
	width: 82px;
}
.inquire-content {
	min-height:	58px;
	padding: 18px 0 10px;
	display: flex;
    justify-content: flex-start;
}
.inquire-answer {
	min-height:	58px;
	padding: 10px 0 18px;
	display: flex;
    justify-content: space-between;
}
.Q, .A {
	display: inline-flex;
	border: 2px solid #F6D860;
    border-radius: 50%;
	width: 28px;
    height: 28px;
    align-items: center;
    font-size: 14px;
    justify-content: center;
    font-weight: bold;
    color: white;
}
.Q {
	background-color: #F6D860;
	color: white;
}
.A {
	color: #F6D860;
	background-color: white;
}
.inquire-q {
	position: relative;
	padding: 12px 10px;
	width: 683px;
    text-align: left;
}
.inquire-a {
	width: 660px;
	position: relative;
	padding: 9px 10px;
	text-align: left;
}
.inquire-a-answer {
	position: relative;
	padding: 9px 10px;
	width: 83px;
	color: #999;
}

.modal-body input::placeholder {
	font-size: 13px;
}
.modal-body textarea::placeholder {
	font-size: 13px;
}
input[name="check_secret"] {
	width: 1rem; 
	height: 1rem; 
	border-radius: 50%; 
	border: 1px solid #999; 
	appearance: none; 
	cursor: pointer; 
	transition: background 0.2s;
	margin-right: 5px;
	vertical-align: middle;
	position: relative;
    bottom: 1px;
}
input[name="check_secret"]:checked {
	background: rgb(246, 216, 96);
    border: 1px solid #999;
}
.deleteInquire {
	border: none;
	background-color: transparent;
	width: 60px;
	font-size: 13px;
	height: 42px;
	color: #999;
}

/* 민지 끝 */

/* 재경 시작 */
/* 상품 목록 */

#moveToPage {
	text-decoration: none;
	color : black;
}

.form-control{
	width : 170px;
}

.align {
	width : 270px;
}

h6{
	transform: translate(0, 30px);
	color : black;
	font-style: italic;
	text-shadow: 1px 0px 3px white;
}

d-flex{
	text-align: right;
}

/* 재경 끝 */