@charset "UTF-8";

#moveToPage {
	text-decoration: none;
	color : black;
}

.form-control{
	width : 170px;
}

.align {
	width : 170px;
}

h6{
	transform: translate(0, 30px);
	color : black;
	font-style: italic;
	text-shadow: 1px 0px 3px white;
}

d-flex{
	text-align: right;
}
